<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187066300884-pt2k0aumldckkp51nh478nql6i2t0mco.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187066300884-pt2k0aumldckkp51nh478nql6i2t0mco</string>
	<key>API_KEY</key>
	<string>AIzaSyCe4u_KvUebOK8-iNfeXFub5SVTZiaGyvA</string>
	<key>GCM_SENDER_ID</key>
	<string>187066300884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assignment</string>
	<key>PROJECT_ID</key>
	<string>quotesapp-87798</string>
	<key>STORAGE_BUCKET</key>
	<string>quotesapp-87798.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187066300884:ios:e0be93ef3c434fc619be41</string>
</dict>
</plist>